* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

.calendar-container {
    width: 100%;
    max-width: 1200px;
   // max-height: fit-content;
    margin: 0 auto;
}

input[value=""]::-webkit-datetime-edit{ color: transparent; }
input:focus::-webkit-datetime-edit{ color: #495057; }
// input[type='date']:in-range::-webkit-datetime-edit-year-field,input[type='date']:in-range::-webkit-datetime-edit-month-field,input[type='date']:in-range::-webkit-datetime-edit-day-field,input[type='date']:in-range::-webkit-datetime-edit-text{  color: transparent;}

.without-mask {
    -webkit-datetime-edit-year-field:not([aria-valuenow]),
    -webkit-datetime-edit-month-field:not([aria-valuenow]),
    -webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    } 
}

.p-inactive {
    opacity: 0.6;
}

.toast-message-success {
    background: #C8E6C9;
    color: #224a23;
    border: solid #439446;
    opacity: 0.9;
    margin: 5.6rem 0rem;
    border-width: 0 0 0 6px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 1rem;
}

.toast-message-error {
    background: #ffcdd2;
    color: #73000c;
    border: solid #e60017;
    opacity: 0.9;
    margin: 5.6rem 0rem;
    border-width: 0 0 0 6px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 1rem;
}

.toast-message-warning {
    background: #f1c40f;
    color: #fff;
    border-width: 0 0 0 6px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 1rem;  
}



