* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

.calendar-container {
    width: 100%;
    max-width: 1200px;
   // max-height: fit-content;
    margin: 0 auto;
}

input[value=""]::-webkit-datetime-edit{ color: transparent; }
input:focus::-webkit-datetime-edit{ color: #495057; }
// input[type='date']:in-range::-webkit-datetime-edit-year-field,input[type='date']:in-range::-webkit-datetime-edit-month-field,input[type='date']:in-range::-webkit-datetime-edit-day-field,input[type='date']:in-range::-webkit-datetime-edit-text{  color: transparent;}

.without-mask {
    -webkit-datetime-edit-year-field:not([aria-valuenow]),
    -webkit-datetime-edit-month-field:not([aria-valuenow]),
    -webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    } 
}

.p-inactive {
    opacity: 0.6;
}

.card-professionaltype {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid 0.2px #dee2e6;
    border-radius: 12px;
    margin-right: 15px;
    padding: 10px 10px;
}

.item-profissionaltype {
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
    min-height: 70%;
}

.box-professional {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin: 0 160px 20px 0;
}

.combo-professional {
    width: 400px; 
    border-radius: 8px;
    font-weight: bolder;
}

.professional-legend {
    font-size: .875rem;
    border-left: solid 1px;
    margin-left: 5px;
    padding-left: 5px;
}

.toast-message-success {
    background: #C8E6C9;
    color: #224a23;
    border: solid #439446;
    opacity: 0.9;
    margin: 5.6rem 0rem;
    border-width: 0 0 0 6px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 1rem;
}

.toast-message-error {
    background: #ffcdd2;
    color: #73000c;
    border: solid #e60017;
    opacity: 0.9;
    margin: 5.6rem 0rem;
    border-width: 0 0 0 6px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 1rem;
}

.toast-message-warning {
    background: #f1c40f;
    color: #fff;
    border-width: 0 0 0 6px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 1rem;  
}

.overlay-spinner {
    position: absolute;
    z-index: 100;
    height: 4em;
    width: 4em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.legend {
    margin-top: 3px;
    padding: 8px;
    border: solid 0.2px #dee2e6;
}

.status-badge,
.order-status-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .3px;
    margin-right: 1rem;
}

.status-badge {
    &.status-agendado {
        background: #009EFA;
        color: #ffff;
    }

    &.status-confirmado {
        background: #f1c40f;
        color: #2f3640;
    }

    &.status-presente {
        background: #00C9A7;
        color: #ffff;
    }

    &.status-finalizado {
        background: #DCB0FF;
        color: #2f3640;
    }   
    
    &.status-cancelado {
        background: #FF8066;
        color: #ffff;
    }
    
    &.status-evento {
        background: #b2ddb4;
        color: #57606f;
    }     
}

.message-legend {
    font-size: small;
}

.emoji-legend {
    font-size: medium;
}

.box-error {
    display: flex;
    justify-content: center;
    background-color: #fad8d2;
    border: solid 0.2px #faddd8;
    padding: .8rem;
    margin-bottom: 1.5rem;
}

#qrcode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
